/* This commented part is part of assignment 1 which is aslo commented in App.js file */
/* h1{
  text-align: center;
  font-size: 3rem;
}

h2{
  font-size: 1.2 rem;
}

div{
  padding-left: 7px;
}

img{
  margin: 15px;
  border-radius: 10px;
  box-shadow: 10px 20px 60px;

} */

/* 1st assiggnment styles end here */

